*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
}

.btn{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #3c3c3c;
    width: 80%;
    max-width: 19rem;
    height: 7rem;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 7rem;
    text-align: center;
    background-color: #69a4d3;
}


.bg{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0,0,0,.6);
}

form{
    margin: 5rem auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    padding: 1.9rem 2%;
    height: 65%;
    max-height: 30rem;
    width: 100%;
    max-width: 25rem;
}

form .w100{
    width: 100%;
    line-height: 3rem;
    padding-left: .5rem;
    border: .1rem solid #ccc;
}

form input[type = 'submit']{
    margin-left: 50%;
    transform: translate(-50%);
    background-color: #3c3c3c;
    width: 80%;
    max-width: 10rem;
    height: 3rem;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 1rem;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.2rem;
    line-height: 3rem;
    background-color: #69a4d3;

}

.Icon {
    display: none;
    width: 2rem;
    height: 2rem;
    position: relative;
    top: 16%;
    left: 62%;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    cursor: pointer;
    z-index: 0;
}

.Icon span {
    display: block;
    position: absolute;
    left: 0;
    top: 23px;
    height: .25rem;
    width: 100%;
    background: #000;
    border-radius: 4px;
    transform: rotate(0deg);
    transition: .2s ease-in-out;
}

.Icon span:nth-child(1){
  transform: rotate(45deg);
}
.Icon span:nth-child(2){
    transform: rotate(-45deg);
}

@media (max-width:1000px){
    .Icon{
        top: 16%;
        left: 64%;
    }
}

@media (max-width: 800px){
    .Icon{
        top: 11%;
        left: 70%;
    }
}
@media (max-width: 500px){
    .Icon{
        top: 18%;
        left: 88%;
    }
}